table{
  width: 100%;
}
.tituloSpan{
  text-align: center;
  width: 100%;
}
mat-toolbar{
  background-color: rgb(2, 104, 92);
  color: rgb(0, 0, 0);
}
.spinner-container{
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.15);
  }
