@use '@angular/material' as mat;

html {
  color-scheme: light;
  @include mat.theme((
    color: mat.$blue-palette,
    typography: Arial,
    density: 500
  ));
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

